@model IEnumerable<Base_Conhecimento.ChamadoSolucaoUserViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/estilo.css" />
</head>


<body>

    
        @if (Model.First().usuarioModel.usuarioID == 0)
        {
    <div class="container" id="login">
        @Html.ActionLink("Login", "Login", "" ,"" , new { @class = "btn btn-outline-primary btn-sm" })
        
    </div>
        }
        else
        {
<div class="container" id="login">
    Olá @Html.DisplayFor(modelItem => Model.First().usuarioModel.nome)
    @Html.ActionLink("Logout", "Logout", "", "", new { @class = "btn btn-outline-primary btn-sm" })
</div>
        }
    


    <div class="text-center">
        <h1 class="display-4">Base de Conhecimento</h1>
        <p>Encontre a solução do seu problema aqui!</p>
    </div>
    <div class="col-sm-5">
        O que você procura? <input class="form-control-sm" type="search" id="pesquisa" oninput="limpar()" placeholder="Digite seu problema"> <button class="btn btn-secondary btn-sm" type="button" onclick="filtrar()">Buscar</button>
    </div>
    <br>
    <div class="container" id="solucao">
        <section id="content">
            <br />
            <ul id="lista">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="container" id="titulo">
                            @Html.DisplayFor(modelItem => item.chamadoModel.chamadoID)- @Html.DisplayFor(modelItem => item.solucaoModel.titulo)
                        </div>
                        @Html.Raw(item.chamadoModel.descricao)
                        @Html.ActionLink("Ver mais...", "Solucao", new { id = item.chamadoModel.chamadoID }, new { @class = "label label-warning" })
                        <hr />
                    </li>

                }
            </ul>


        </section>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        function limpar() {
            $('#lista li').show();
        }
        function filtrar() {
            var termo = $('#pesquisa').val().toUpperCase();
            $('#lista li').each(function () {
                if ($(this).html().toUpperCase().indexOf(termo) === -1) {
                    $(this).hide();
                }
            });
        }
    </script>

</body>
</html>