@model IEnumerable<Base_Conhecimento.ChamadoSolucaoViewModel>

@{
    ViewData["Title"] = "Solução Encontrada";

}
<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link href="~/css/criar.css" rel="stylesheet" />
</head>

<body>

    <div class="container" id="chamado">
        <h2> @Html.DisplayNameFor(model => model.chamadoModel.descricao)</h2>


        @foreach (var item in Model)
        {
            <p>@Html.Raw(item.chamadoModel.descricao)</p>
        }
    </div>
    <div class="container" id="solucao">
        @foreach (var item in Model)
        {
            <h2> @Html.DisplayNameFor(model => model.solucaoModel.descricao)</h2>
            <div class="row">
                Data atualização
                @Html.DisplayFor(modelItem => item.solucaoModel.dataAtualizacao)
            </div>

            <div class="container">

                @Html.Raw(item.solucaoModel.descricao)

            </div>

        }
        <div class="form-group">
            <input asp-action="Index" type="submit" value="Voltar" />
        </div>
    </div>

</body>
</html>
