@model IEnumerable<Base_Conhecimento.ChamadoSolucaoViewModel>


@{
    ViewData["Title"] = "Solução" + @Html.Raw(Model.First().solucaoModel.solucaoID);

}
<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link href="~/css/criar.css" rel="stylesheet" />
</head>

<body>

    <div class="container" id="chamado">

        @foreach (var item in Model)
        {
            <h2 id="titulo"> Chamado @Html.Raw(item.chamadoModel.chamadoID) - @Html.Raw(item.solucaoModel.titulo) </h2>

            if (item.chamadoModel.nomeArquivos != null)
            {
                if (item.chamadoModel.nomeArquivos.Count > 0)
                {
                    <div class="container" id="anexos">
                        Anexos
                        @foreach (var anexo in item.chamadoModel.nomeArquivos)
                        {
                            <a href="~/Base/Chamado/@Html.DisplayFor(modelItem => anexo)" Download="@Html.DisplayFor(modelItem => anexo)">@Html.DisplayFor(modelItem => anexo)</a>
                        }
                    </div>
                }
            }

            <hr />
            <p>@Html.Raw(item.chamadoModel.descricao)</p>
        }
    </div>
    <div class="container" id="solucao">
        @foreach (var item in Model)
        {
            <h2 id="titulo"> Solução @Html.Raw(item.solucaoModel.solucaoID) </h2>
            <div class="container" id="data">
                Data de atualização: @Html.DisplayFor(modelItem => item.solucaoModel.dataAtualizacao)<br>
                Visitas: @Html.DisplayFor(modelItem => item.solucaoModel.visitas)
            </div>

            if (item.solucaoModel.nomeArquivos != null)
            {
                if (item.solucaoModel.nomeArquivos.Count > 0)
                {
                    <div class="container" id="anexos">
                        Anexos 
                        @foreach (var anexo in item.solucaoModel.nomeArquivos)
                        {
                            <a href="~/Base/Solucao/@Html.DisplayFor(modelItem => anexo)" Download="@Html.DisplayFor(modelItem => anexo)">@Html.DisplayFor(modelItem => anexo)</a>
                        }
                    </div>
                }
            }
            <hr />
            <div class="container">

                @Html.Raw(item.solucaoModel.descricao)
                <hr>
            </div>
            <div class="container" id="like">
                Essa solução foi útil? @Html.ActionLink("Clique Aqui", "Like", new { solucao = @Html.Raw(item.solucaoModel.solucaoID) }, new { @class = "btn btn-outline-primary btn-sm" })

            </div>
        }

    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-fast-backward"></i>Voltar</a>
    </div>

</body>
</html>
