@model Base_Conhecimento.ChamadoSolucaoViewModel

@{
    ViewData["Title"] = "Alterar Solução";

}
<html>

<head>

    <script>
        tinymce.init({
            selector: '#textareachamado',
            plugin: 'a_tinymce_plugin',
            a_plugin_option: true,
            a_configuration_option: 400

        });
    </script>
    <script>
        tinymce.init({
            selector: '#textareasolucao',
            plugin: 'a_tinymce_plugin',
            a_plugin_option: true,
            a_configuration_option: 400

        });
    </script>
</head>
<body>




    <form asp-action="Alterar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.solucaoModel.titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.solucaoModel.titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.solucaoModel.titulo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.chamadoModel.itemCatalogo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chamadoModel.itemCatalogo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chamadoModel.itemCatalogo, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.chamadoModel.nomeArquivos != null)
        {
    <ul>
        @foreach (String anexo in Model.chamadoModel.nomeArquivos)
        {
        <a href="~/Base/Chamado/@Html.Raw(anexo)" Download="@Html.Raw(anexo)">@Html.Raw(anexo)</a>

            @Html.ActionLink("Delete", "Delete", new { nome = @Html.Raw(anexo)}, new { @class = "label label-warning" } )
        }
    </ul>
        }


        <div class="form-group">
            <label asp-for="chamadoModel.descricao" class="control-label"></label>
            <textarea input asp-for="chamadoModel.descricao" class="form-control" id="textareachamado" required>
                @Html.EditorFor(model => model.chamadoModel.descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chamadoModel.descricao, "", new { @class = "text-danger" })
            </textarea>
        </div>

        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            Quem pode ver essa solução?
            <select asp-for="solucaoModel.visualizacao" value="Selecione">
                <option value="Selecione">Selecione</option>
                <option value="Analista">Analista</option>
                <option value="Cliente">Cliente</option>
            </select>
            <br>
            <br>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            Status da Solução
            <select asp-for="solucaoModel.status" value="Selecione">
                <option value="Selecione">Selecione</option>
                <option value="Ativo">Ativo</option>
                <option value="Desativado">Desativado</option>
            </select>


            <div class="form-group">
                <label asp-for="solucaoModel.descricao" class="control-label"></label>
                <textarea input asp-for="solucaoModel.descricao" class="form-control" id="textareasolucao" required>
                @Html.EditorFor(model => model.solucaoModel.descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.solucaoModel.descricao, "", new { @class = "text-danger" })
            </textarea>
                <div class="invalid-feedback">
                    Por favor, preencha essa campo.
                </div>
                <span asp-validation-for="solucaoModel.descricao" class="text-danger" type="textarea"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-action="Salvar" type="submit" value="Salvar" />
                <input asp-action="Index" type="submit" value="Voltar" />
            </div>
        </div>
    </form>



    @*<div class="form-group">
            <input asp-action="Index" type="submit" value="Voltar" />
        </div>*@
</body>
</html>