@model IEnumerable<Base_Conhecimento.ChamadoSolucaoViewModel>


@{
    ViewData["Title"] = "Solução Salva";

}
<!DOCTYPE html>

<html lang="pt-br">

<head>
    <link href="~/css/criar.css" rel="stylesheet" />
</head>

<body>

    <div class="container" id="chamado">

        @foreach (var item in Model)
        {
            @if (item.chamadoModel.nomeArquivos != null)
            {
                <div id="anexos">

                    Anexos<br>
                    @foreach (var anexo in item.chamadoModel.nomeArquivos)
                    {
                        <a href="~/Base/Chamado/@Html.DisplayFor(modelItem => anexo)" Download="@Html.DisplayFor(modelItem => anexo)">@Html.DisplayFor(modelItem => anexo)</a>
                    }

                </div>
            }
            <p>@Html.Raw(item.solucaoModel.titulo)</p>

            <p>@Html.Raw(item.chamadoModel.descricao)</p>
        }
    </div>
    <div class="container" id="solucao">
        @foreach (var item in Model)
        {
            <h3> @Html.DisplayNameFor(model => model.solucaoModel.descricao)</h3>

            <div align-text="right">
                Data atualização
                @Html.DisplayFor(modelItem => item.solucaoModel.dataAtualizacao)
            </div>
            @if (item.solucaoModel.nomeArquivos != null)
            {
                <div id="anexos">
                    Anexos<br>
                    @foreach (var anexo in item.solucaoModel.nomeArquivos)
                    {
                        <a href="~/Base/Solucao/@Html.DisplayFor(modelItem => anexo)" Download="@Html.DisplayFor(modelItem => anexo)">@Html.DisplayFor(modelItem => anexo)</a>
                    }
                </div>
            }

            <div class="container">

                @Html.Raw(item.solucaoModel.descricao)

            </div>

        }
        <div class="form-group">
            <input asp-action="Index" type="submit" value="Voltar" />
        </div>
    </div>

</body>
</html>
